<? require 'site_header.php'; ?>

charset "utf-8";
/* CSS Document */
/* #0D4D4D: Teal, header color and border color for content block
	#993333: Maroon, border color for header block and footer color
	#707070: Gray, border color for footer block and content color*/
body {
	font-family: Times New Roman;
	margin: auto;

}
h4{
	background-color: #009999;
	height: 300px;
	font-size: 500%;
    border-style: solid;
    border-width: 0px 300px 0px 300px;
    border-color: #ff6600;
	}
.one_column {
	background-color: #ffe066;
    height: 100px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    color: white;
    font-size: 200%

    }
.eleven_columns	{
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
	}
.two_columns {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    }
.ten_columns {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    }
.one-third_column {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    }
.two-thirds_column {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
	}
.one-half_column {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    }
.one-halfs_column {
	background-color: #ffe066;
    height: 1000px;
    padding: 25px;
    border: 25px ridge lightgrey;
    margin: 25px;
    }
h1	{
    background-color: #0D4D4D;
    border: 5px;
    border-style: ridge;
    border-color: #993333;
	font-size: 115%;
	color: white;
	height: 140px;
	margin: auto;
}
p {
	font-size: 135%;
	text-align: center;
}

h2	{
	background-color: #707070;
	min-height: 350px;
	font-size: 100%;
	border: 5px;
    border-style: ridge;
    border-color: #0D4D4D;

}

h3	{
	background-color: #993333;
	height: 100px;
	font-size: 80%;
	border: 5px;
    border-style: ridge;
    border-color: #707070;
}
#nav_bar ul {
	list-style:none;
padding: 1em 0:
border-top: 2px solid black;
width:1200px;
}
#nav_bar li {
	display: inline;
	border: 20px black;
	padding: 1px;
	margin:0.5px;

}
#nav_bar a {
	front-weight: bold;
	color: white;
}#nav_bar a.current {
	text-decoration: none;
}

/* unvisited link */
a:link {
    border: 3px;
    border-color: #707070;
    border-style: ridge;
    text-decoration: none;
    background-color: #993333;
}

/* visited link */
a:visited {
    color: #0D4D4D;
}
/* mouse over link */
a:hover{
 border:3px;
 border-color: #993333;
 border-style: ridge;
 background-color: #707070;
}

/* selected link */
a:active {
    color: black;
}

hr {
    display: block;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 4px;
}
ul.lists {
	border: 3px;
	border-color: #993333;
	border-style: ridge;
	float: left;
}
li {
	border: 3px;
	border-color: #0D4D4D;
	border-style: ridge;
	margin: 20px;
	padding: 20px;
}
ul.main-links {
	border: none;
}
body {
   text-align: center;
   margin:0px;
   background-color:#CCC;
}

#content_wrapper {
  margin: auto;
  width: 1000px;
}
#header, #footer {
  min-height:150px;
  padding:5px;
  text-align:center;
  background-color:#EEE;
  border: 1px #999 solid;
}
#content {
  min-height:500px;
  width:1010px;
  padding:5px;
  text-align:center;
  background-color:#FFF;
  border-left: 1px #999 solid;
  border-right: 1px #999 solid;
}

<? require 'site_footer.php': ?>
